@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@700&display=swap");

:root {
  /* Paleta de colores */
  --bs-body-bg: #121212;
  --bs-body-color: #e0e0e0;
  --bs-primary: #00e676;
  --bs-primary-rgb: 0, 230, 118;
  --bs-primary-hover: #00c864;

  /* Superficies -  */
  --bs-surface-bg: #1e1e1e;
  --bs-border-color: #333333;

  /* Tipografía  */
  --bs-body-font-family: "Inter", sans-serif;
  --bs-heading-font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: var(--bs-heading-font-family);
  color: var(--bs-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 15px rgba(var(--bs-primary-rgb), 0.3);
}

body {
  font-family: var(--bs-body-font-family);
}
